.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
  background-color: #fff;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  margin: 0 0 100px;
  background-color: #f2f2f2;
}

.logo_place_header {
  background: url(../images/logo_place_header.svg) no-repeat;
  background-size: 228px;
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: 600px;
  line-height: 96px;
  margin-left: 64px;
  align-self: center;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  background: url(../images/header-image.png) no-repeat;
  background-size: 765px;
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.description {
  margin: 0 0 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  align-self: flex-start;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
  flex-direction: column;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__paragraph {
  margin: 30px 0 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin: 0 0 100px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0 20%;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 20px 0 0;
  padding: 0 20%;
}

.table {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
} 

.table__cell {
  width: 250px;
  margin: 60px 0 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.feynman {
  min-height: 800px;
  margin: 0;
  padding-top: 100px;
  position: relative;
  background: #f2f2f2 url(../images/feynman.png) no-repeat bottom left;
  background-size: 867px 637px;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  padding: 0 20%;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 70px 0 0;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  color: #fff;
  /* margin: 100px auto 90px; */
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  background: url(../images/kaufman-triangle.svg) no-repeat top right;
  background-size: 877px;
  right: -210px;
  top: 0;
  z-index: 0;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.footer {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  width: 90%;
  min-height: 300px;
  justify-content: space-between;
  margin: auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
}

.logo__place_footer {
  width: 228px;
  height: 32px;
  background: url(../images/logo_place_footer.svg) no-repeat;
  background-size: 228px 32px;
}

.footer__author {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 16px;
  padding: 0;
}

.footer__link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer__link_span-accent {
  margin-left: 10px;
}